<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Graviton App</title>
  <link rel="stylesheet" href="css/preloader.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.css">
  <link rel="stylesheet" href="css/banner.css">
  <link rel="stylesheet" href="css/mapa.css">
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet"/>
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
  <link rel="stylesheet" href="css/tiempo.css">
  <link rel="stylesheet" href="css/contacto.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.css">
  <link rel="stylesheet" href="css/sidebar.css">
</head>
<body>
  <style>
    .mapa__d__l #app2 .map {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
    }
    .mapa__d__l #app2 .marker {
      display: block;
      border: none;
      background: red;
      border-radius: 50%;
      cursor: pointer;
      padding: 0;
    }
  </style>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-compare/v0.4.0/mapbox-gl-compare.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-compare/v0.4.0/mapbox-gl-compare.css" type="text/css"/>
  <div class="loader__page">
    <img src="img/banner/logo_1.svg" alt="logo_uno" class="inicial__uno">
    <img src="img/banner/logo_2.svg" alt="logo_dos" class="inicial__dos">
    <img src="img/banner/logo_3.svg" alt="logo_tres" class="inicial__tres">
  </div>
  <header class="l-header">
    <nav class="nav bd-grid" style="display: flex; align-items: center; justify-content: space-between;">
      <div>
        <a href="#" class="nav__logo">Graviton</a>
        <a href="#" class="nav__logo" data-pushbar-target="pushbar-app"><i class='bx bxs-category'></i></a>
      </div>
      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li class="nav__item"><a href="#particles-js" class="nav__link active">Inicio</a></li>
          <li class="nav__item"><a href="#mapa" class="nav__link">Mapa</a></li>
          <li class="nav__item"><a href="#tiempo" class="nav__link">Tiempo</a></li>
          <li class="nav__item"><a href="#contacto" class="nav__link">Contacto</a></li>
        </ul>
      </div>
      <img src="img/footer/LOGO_AASANA.png" class="logo__aasana">
      <div class="nav__toggle" id="nav-toggle">
        <i class="bx bx-menu"></i>
      </div>
    </nav>
  </header>
  <div data-pushbar-id="pushbar-app" data-pushbar-direction="left" class="pushbar pushbar-app">
    <div class="contenedor">
      <div class="btn-cerrar izquierda">
        <button data-pushbar-close><i class='bx bx-x'></i></button>
      </div>
      <p class="titulo">Ifis Nuklear</p>
      <a href="#">
        <div class="item">
          <img src="img/sidebar/5.png">
          <div class="textos">
            <p class="nombre-item">App Ezpin</p>
            <p>Mensajeria Aeronautica</p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="item">
          <img src="img/sidebar/1.png">
          <div class="textos">
            <p class="nombre-item">App Graviton</p>
            <p>Sistema Metereologica</p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="item">
          <img src="img/sidebar/3.png">
          <div class="textos">
            <p class="nombre-item">App Luczon</p>
            <p>Plan de Vuelo</p>
          </div>
        </div>
      </a>
      <a href="#">
        <div class="item">
          <img src="img/sidebar/4.png">
          <div class="textos">
            <p class="nombre-item">App Upsilon</p>
            <p>Sistema Información</p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <section id="particles-js">
    <div class="contenedor">
      <div class="banner__logo">
        <div class="banner__loader">
          <img src="img/banner/logo_1.svg" alt="banner_uno" class="banner__uno">
          <img src="img/banner/logo_2.svg" alt="banner_dos" class="banner__dos">
          <img src="img/banner/logo_3.svg" alt="banner_tres" class="banner__tres">
        </div>
      </div>
      <div class="banner__info">
        <h1>Sistema Distribuido de monitoreo meteorologico aeronautico.</h1>
        <button class="btn__ingresar">Iniciar Sesión</button>
      </div>
      <div class="banner__video">
        <iframe src="https://www.youtube.com/embed/ZVQeTagj0AI" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <section class="mapa__d__l" id="mapa">
    <div id="app2">
      <div class="mapa-d-l">
        <div id="comparison-container">
          <div id="before" class="map"></div>
          <div id="after" class="map"></div>
        </div>
      </div>
      <div class="info__uno">
        <div class="container">
          <h1 v-model="titulo">{{titulo}}</h1>
          <p>{{fecha}}</p>
          <ul style="list-style: none;">
            <li style="margin-bottom: 10px;" v-for="todo of todos">
              <h1 v-if="todo.lugar === titulo">{{todo.lugar}}</h1>
              <h6 v-else-if="todo.lugar === ' '">No Hay Datos.</h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="map__tiempo" id="tiempo">
    <iframe src="tiempo/tiempo.html"></iframe>
  </section>
  <section class="contacto" id="contacto">
    <footer class="footer">
      <div class="footer__logo">
        <img src="img/footer/logo_1.svg" alt="footer__uno" class="footer__uno">
        <img src="img/footer/logo_2.svg" alt="footer__dos" class="footer__dos">
        <img src="img/footer/logo_3.svg" alt="footer__tres" class="footer__tres parpadeo__footer">
      </div>
      <h3 class="primera">Ifis <span>Nuklear</span></h3>
      <p class="empresa">Sistema de Información de Vuelo por Internet.</p>
      <img src="img/footer/EPB.png" class="logo__epb">
      <p class="footer__empresa">2021 | IFIS NUKLEAR</p>
    </footer>
  </section>
  <script src="js/header.js"></script>
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="js/particles.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="js/mapa.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="js/preloader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.js"></script>
  <script src="js/sidebar.js"></script>
</body>
</html>