.mapa__d__l{
  width: 100%;
  height: 100%;
}
.mapa__d__l #app2{
  width: 100%;
  height: 100%;
  margin: 0px auto;
  grid-gap: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "mapa mapa info_1"
    "mapa mapa info_1"
    "mapa mapa info_1"
    "mapa mapa info_1";
  text-align: center;
}
.mapa__d__l #app2 .mapa-d-l {
  position: relative;
  grid-area: mapa;
}
.mapa__d__l #app2 .info__uno {
  background: yellowgreen;
  color: #fff;
  grid-area: info_1;
  overflow: hidden;
  overflow-y: scroll;
}
.mapa__d__l #app2 .info__uno .container {
  margin-top: 45px;
}
.mapa__d__l #app2 #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.mapa__d__l #app2 .mapboxgl-compare {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: red;
  width: 5px;
}
.mapboxgl-ctrl-bottom-left,.mapboxgl-ctrl-bottom-right{
  display: none;
}