/*==============================================MAPA=============================================*/
#map{ 
	position: absolute; 
	top: 0; 
	bottom: 0;
	width: 100%; 
}
.marker {
  display: block;
  border: none;
  /*border-radius: 50%;*/
  cursor: pointer;
  padding: 0;
}
.mapboxgl-compare{
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: red;
	width: 5px;
}
/*===============================================================================================*/

/*======================================CONTENEDOR MAPA==========================================*/
.contenedor__mapa_bl{
  width: 100%;
  height: 95vh;
  margin: 0px auto;
  background: red;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,1fr);
  grid-template-areas: "mapa mapa info_1"
  "mapa mapa info_1"
  "mapa mapa info_2"
  "mapa mapa info_2";
}
.contenedor__mapa_bl .mapa__info1_bl, .contenedor__mapa_bl .mapa__info2_bl{
  background: #fff;
  padding: 25px 10px;
}
.contenedor__mapa_bl .mapa__bl{
  background: #cacaca;
  color: #fff;
  grid-area: mapa;
  position: relative;
}
.contenedor__mapa_bl .mapa__info1_bl{
  background: #2980b9;
  color: #fff;
  overflow: hidden;
	overflow-y: scroll;
  grid-area: info_1;
}
.contenedor__mapa_bl .mapa__info1_bl h2{
  text-align: center;
	color: #81ecec;
}
.contenedor__mapa_bl .mapa__info2_bl{
  background: #2980b9;
  color: #fff;
  overflow: hidden;
	overflow-y: scroll;
  grid-area: info_2;
}
.contenedor__mapa_bl .mapa__info2_bl h2{
  text-align: center;
	color: #81ecec;
}
/*===============================================================================================*/