@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
:root{--fondo_banner: #130f40;}
#primero
{
	width: 100%;
	height: 100%;
}
#primero #particles-js
{
	width: 100%;
  height: 100%;
  background: var(--fondo_banner);
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
#primero #particles-js .contenido
{
	position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(4,1fr);
  grid-template-areas: "logo video"
  "logo video"
  "logo video"
  "info video";
}
#primero #particles-js .contenido .logo
{
	grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
}
#primero #particles-js .contenido .logo .logo__banner
{
	position: relative;
  width: 100%;
  height: 100%;
}
#primero #particles-js .contenido .logo .logo__banner .banner__uno,
#primero #particles-js .contenido .logo .logo__banner .banner__dos,
#primero #particles-js .contenido .logo .logo__banner .banner__tres
{
	position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
#primero #particles-js .contenido .logo .logo__banner .banner__uno
{
	width: 100px;
  animation: banner_der 5s infinite linear;
}
#primero #particles-js .contenido .logo .logo__banner .banner__dos
{
	width: 200px;
  animation: banner_izq 7s infinite linear;
}
#primero #particles-js .contenido .logo .logo__banner .banner__tres
{
	width: 310px;
  animation: banner_der 100s infinite linear;
}
@keyframes banner_der
{
  from{transform: rotate(0deg);}
  to{transform: rotate(359deg);}
}
@keyframes banner_izq
{
  from{transform: rotate(359deg);}
  to{transform: rotate(0deg);}
}
#primero #particles-js .contenido .info
{
  color: #fff;
  grid-area: info;
  text-align: center;
}
#primero #particles-js .contenido .info .tit__banner
{
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 5px;
}
#primero #particles-js .contenido .info .inf__banner
{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 5px;
}
#primero #particles-js .contenido .info .contenedor__boton a
{
  cursor: pointer;
  text-decoration: none;
  position: relative;
  display: inline-block;
  height: 36px;
  width: 200px;
  line-height: 35px;
  padding: 0;
  color: #fff;
  border-radius: 50px;
  background: #fff;
  margin: 5px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}
#primero #particles-js .contenido .info .contenedor__boton
{
  margin: 0;
  padding: 20px;
  text-align: center;
}
#primero #particles-js .contenido .info .contenedor__boton a:hover span.circulo
{
  left: 100%;
  margin-left: -35px;
  background: #fff;
}
#primero #particles-js .contenido .info .contenedor__boton a:hover span.titulo
{
  opacity: 0;
}
#primero #particles-js .contenido .info .contenedor__boton a:hover span.titulo-hover
{
  opacity: 1;
  color: #fff;
}
#primero #particles-js .contenido .info .contenedor__boton a span.titulo-hover
{
  opacity: 0;
}
#primero #particles-js .contenido .info .contenedor__boton a span.circulo
{
  display: block;
  color: #fff;
  position: absolute;
  float: left;
  margin: 1px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  transition: all 0.5s;
  border-radius: 50%;
}
#primero #particles-js .contenido .info .contenedor__boton a span.circulo i
{
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}
#primero #particles-js .contenido .info .contenedor__boton a span.titulo,
#primero #particles-js .contenido .info .contenedor__boton a span.titulo-hover
{
  position: absolute;
  text-align: center;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  transition: .5s;
  letter-spacing: 2px;
}
#primero #particles-js .contenido .info .contenedor__boton a span.titulo
{
  right: 15px;
}
#primero #particles-js .contenido .info .contenedor__boton a span.titulo-hover
{
  left: 15px;
}
#primero #particles-js .contenido .info .contenedor__boton .iniciar_sesion
{
  border: 2px solid #AC1385;
}
#primero #particles-js .contenido .info .contenedor__boton .iniciar_sesion:hover,
#primero #particles-js .contenido .info .contenedor__boton .iniciar_sesion span.circulo
{
  background: #AC1385;
}
#primero #particles-js .contenido .info .contenedor__boton .iniciar_sesion:hover span.circulo,
#primero #particles-js .contenido .info .contenedor__boton .iniciar_sesion span.titulo{
  color: #AC1385;
}
#primero #particles-js .contenido .video
{
  color: #fff;
  grid-area: video;
  display: flex;
  align-items: center;
  justify-content: center;
}
#primero #particles-js .contenido .video iframe
{
  width: 95%;
  height: 50%;
}
@media screen and (max-width: 900px)
{
  #primero #particles-js .contenido .video iframe{height: 40%;}
}
@media screen and (max-width: 850px)
{
  #primero{height: 150vh;}
  #primero #particles-js .contenido
  {
    grid-template-areas: "logo logo"
    "logo logo"
    "info info"
    "video video";
  }
  #primero #particles-js .contenido .video iframe{width: 50%;height: 300px; margin-bottom: 20px;}
}
@media screen and (max-width: 768px)
{
  #primero #particles-js .contenido .video iframe{width: 70%;}
}
@media screen and (max-width: 500px)
{
  #primero #particles-js .contenido .video iframe{width: 95%;}
  #primero #particles-js .contenido .logo .logo__banner .banner__uno{width: 80px;}
  #primero #particles-js .contenido .logo .logo__banner .banner__dos{width: 160px;}
  #primero #particles-js .contenido .logo .logo__banner .banner__tres{width: 250px;}
}