@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.bg-img
{
  height: 100vh;
}
.bg-img:after
{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
}
/* ------------------------------ */
/* Fondo animado */
/* ------------------------------ */
.img__mov
{
  height: 100%;
  background: #ffab48;
}
.bg-img .img__mov .login__uno,
.bg-img .img__mov .login__dos,
.bg-img .img__mov .login__tres
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.bg-img .img__mov .login__uno
{
  width: 110px;
  animation: login__uno 4s infinite linear;
}
.bg-img .img__mov .login__dos
{
  width: 230px;
  animation: login__dos 6s infinite linear;
}
.bg-img .img__mov .login__tres
{
  width: 40px;
  top: 35%;
}
.bg-img .img__mov .img__mov__loader
{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  outline: 1px solid red;
}
.bg-img .img__mov .img__mov__loader::before,
.bg-img .img__mov .img__mov__loader::after
{
  content: '';
  position: absolute;
  bottom: 0;
}
.bg-img .img__mov .img__mov__loader::before
{
  width: inherit;
  height: 0.2em;
}
.bg-img .img__mov .img__mov__loader::after
{
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: #1eb2a6 5px dashed;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.bg-img .img__mov span
{
  position: absolute;
  bottom: 30%;
  left: -10%;
  animation: 4s linear infinite;
  transform-origin: 10% -8em;
  animation-name: emp_login, rotar_login;
}
.bg-img .img__mov span:nth-child(2)
{animation-delay: 0.40s;}
.bg-img .img__mov span:nth-child(3)
{animation-delay: 0.80s;}
@keyframes login__uno
{
  from{transform: rotate(0deg);}
  to{transform: rotate(359deg);}
}
@keyframes login__dos
{
  from{transform: rotate(359deg);}
  to{transform: rotate(0deg);}
}
@keyframes emp_login
{
  0%{left: -10%;}
	10%,60%{left: calc((100%) / 2);}
	70%,100%{left: 100%;}
}
@keyframes rotar_login
{
  0%,10%{transform: rotate(0deg);}
	60%,100%{transform: rotate(-1turn);}
}
/* ------------------------------ */
/* Contenido Login */
/* ------------------------------ */
.bg-img .content
{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  box-shadow: 0px 0px 15px 10px rgba(255,255,255,0.75);
}
.bg-img .content header
{
  color: #fff;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Open Sans',sans-serif;
  letter-spacing: 2px;
}
.bg-img .content .field
{
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
}
.bg-img .content .field span
{
  color: #222;
  width: 40px;
  line-height: 45px;
}
.bg-img .content .field input
{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
}
.bg-img .content .space
{
  margin-top: 16px;
}
.bg-img .content .field .show
{
  position: absolute;
  right: 30px;
  width: 30px;
  font-size: 13px;
  font-weight: 700;
  color: #aaa;
  display: none;
  cursor: pointer;
  font-family: 'Open Sans',sans-serif;
}
.bg-img .content .field .pass-key:valid ~ .show
{
  display: block;
}
.bg-img .content .pass
{
  text-align: left;
  margin: 10px 0;
}
.bg-img .content .pass a
{
  color: #fff;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
}
.bg-img .content .pass a:hover
{
  color: #cacaca;
}
.bg-img .content .field input[type="submit"]
{
  background: #3498db;
  border: 1px solid #2691d9;
  color: #fff;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Open Sans',sans-serif;
}
.bg-img .content .field input[type="submit"]:hover
{
  background: #2691d9;
  border: 3px dashed #fff;
}
.bg-img .content .signup
{
  font-size: 15px;
  color: #fff;
  font-family: 'Open Sans',sans-serif;
  margin-top: 20px;
}
.bg-img .content .signup a
{
  color: #b2bec3;
  text-decoration: none;
  margin-left: 10px;
}
.bg-img .content .signup a:hover
{
  color: #fff;
}